
.floatingEl {
  color: white;
  position: absolute;
  background: #424242;
  display: inline-block;
  left: 0;
  top: 0;
  width: 200px;
  padding: 5px;
  font-size: 1em;
  border-radius: 5px;
  min-height: 100px;
  opacity: 0.95;
}

.myFloatingEl {
  display:none;
}

/* change background and tip color to green */
/* must be even pixels: https://github.com/mapbox/mapbox-gl-js/pull/3258#issuecomment-249975324 */
.myFloatingEl .mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: #424242;
  width: 200px;
  opacity: 0.95;
  min-height: 100px;
  line-height: 1.2em;
  font-size: 15px;
  padding: 6px;
}
.myFloatingEl .mapboxgl-popup-tip {
  border-top-color: #424242;
  border-bottom-color: #424242;
  opacity: 0.95;
}